useful things to have:

ecliplse mosquitto
https://mosquitto.org/download/

node-red
https://nodered.org/

node js
https://nodejs.org/en/

mqtt broker config example
http://www.steves-internet-guide.com/mossquitto-conf-file/

mqtt broker config documentation
https://mosquitto.org/man/mosquitto-conf-5.html